.ngx-picker--btn {
	color: $text-inverted;
  background-color: transparent;
	border: none;
	padding: 1em;
	font-size: 1em;
	&__selected {
		background-color: $secondary;
	}
	&:hover {
		transition: .25s ease;
		background-color: $secondary;
		cursor: pointer;
	}
	&:focus {
		outline-color: transparent;
	}
}

// Matching button border radius to picker's radius
.ngx-picker--btn__month:hover { border-top-left-radius: $base-border-radius; }
.ngx-picker--btn__done:hover { border-bottom-right-radius: $base-border-radius; }
.ngx-picker--btn__now:hover { border-bottom-left-radius: $base-border-radius; }
.ngx-picker--btn__next:hover { border-top-right-radius: $base-border-radius; }