//Branding
$color-primary: 	 #313775;
$color-primary-dark:  darken($color-primary, 10%);
$color-primary-light: lighten($color-primary, 45%);

$color-secondary: #f41875;

// Menus
$menu-background: #fff;

// Text
$font-family: 'Arial', sans-serif;
$font-base:	  16px;

$text:			#000;
$text-inverted: #fff;
$text-muted: 	#999;

// Borders
$base-border-radius: .2em;

// Calendar Size Options
$calendar-size-ratio:  $font-base;
$calendar-menu-height: 14.85em;

// Calendar Color Options

	// Header & Footer
	$header-footer-text: $text-inverted;
	$header-footer-bg:	 $color-primary-dark;

	// Buttons
	$btn-text-color:  $header-footer-text;
	$btn-bg:		  transparent;
	$btn-hover-bg:	  $color-secondary;
	$btn-selected-bg: $color-secondary;

	// Month & Year Selection Menus
	$month-and-year-text:			  $text;
	$month-and-year-text-hover:		  $text-inverted;
	$month-and-year-text-hover-bg:	  $color-secondary;
	$month-and-year-text-selected:	  $text-inverted;
	$month-and-year-text-selected-bg: $color-primary;

	// Day of Week Header (Su - Sa)
	$week-bg:	$color-primary;
	$week-text: $text-inverted;

	// Day of Month Selection (1-31)
	$days-select-bg: $menu-background;

	$day-text:			   $text;
	$day-text-hover:	   $text-inverted;
	$day-text-hover-bg:	   $color-secondary;
	$day-text-selected:	   $text-inverted;
	$day-text-selected-bg: $color-primary;
	$day-text-muted:	   $text-muted;

// Time Color Options
$time-picker-header-bg:	   $header-footer-bg;
$time-picker-selection-bg: $color-primary;

$time-value-text:			  $text-inverted;
$time-value-text-hover:		  $text-inverted;
$time-value-text-hover-bg:	  $color-secondary;
$time-value-text-selected:	  $text-inverted;
$time-value-text-selected-bg: $color-primary-dark;