// Time
.time-picker {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	max-width: 16em;
	min-width: 16em;
	font-family: 'Arial', sans-serif;
	background-color: $primary-dark;
}

.time--values {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 16em;
  min-width: 16em;
	background-color: $primary;
}

.time--value {
	width: 2.66em;
	font-size: 1em;
	padding: .5em 0;
	text-align: center;
	color: #fff;
	&__current {
		background-color: $primary-light;
		color: $primary;
		font-weight: 600;
	}
	&__selected {
		background-color: $primary-dark;
	}
	&:hover {
		transition: .25s ease;
		cursor: pointer;
		background-color: $primary-dark;
		color: #fff;
	}
}