.calendar {
  position: absolute;
  background-color: #222651;
  max-width: 16em;
  min-width: 16em;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.1);
}

.btn__calendar {
  color: #fff;
  background-color: transparent;
  border: none;
  padding: 1em;
  font-size: 1em;
}
.btn__calendar:hover {
  -webkit-transition: .25s ease;
  transition: .25s ease;
  background-color: #f41875;
  box-shadow: none;
  cursor: pointer;
}

.calendar--previous-and-next {
  position: absolute;
  right: 0;
  top: 0;
  min-height: 3.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.calendar--footer {
  background-color: #222651;
  padding: 0;
}

.btn__calendar__done {
  float: right;
}

.calendar--month-and-year-toggle {
  text-align: left;
  background-color: #313775;
}

.calendar--months-select,
.calendar--years-select {
  opacity: 0;
  display: none;
  max-height: 14.85em;
  overflow-y: auto;
}

.calendar--years-select,
.calendar--months-select {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  width: 100%;
}

.calendar--year,
.calendar--month {
  padding: .5em 1em;
  width: 100%;
}
.calendar--year__current,
.calendar--month__current {
  color: #313775;
  font-weight: bold;
  background-color: #aeb2dd;
}
.calendar--year:hover,
.calendar--month:hover {
  -webkit-transition: .25s ease;
  transition: .25s ease;
  cursor: pointer;
  background-color: #313775;
  color: #fff;
}

.calendar--label {
  display: inline-block;
  padding: 1em .85em;
  color: #fff;
}
.calendar--label:hover {
  -webkit-transition: .25s ease;
  transition: .25s ease;
  cursor: pointer;
  background-color: #f41875;
}

.calendar--toggle__month:checked + .calendar--label__month, .calendar--toggle__year:checked + .calendar--label__year {
  background-color: #f41875;
}
.calendar--toggle__month:checked ~ .calendar--days-and-weeks, .calendar--toggle__year:checked ~ .calendar--days-and-weeks {
  display: none;
}
.calendar--toggle__month:checked ~ .calendar--months-select, .calendar--toggle__year:checked ~ .calendar--years-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

.calendar--toggles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.calendar--toggle {
  display: none;
}

.calendar--days-of-week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #313775;
}

.calendar--day-of-week {
  position: relative;
  padding: .5em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: .9em;
}

.calendar--days-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}

.calendar--day {
  text-align: center;
  width: 1.285em;
  padding: .5em;
  font-weight: 500;
}
.calendar--day__current {
  background-color: #aeb2dd;
  color: #313775;
  font-weight: bold;
}
.calendar--day__muted {
  color: #999;
}
.calendar--day__selected {
  background-color: #313775;
  color: #fff;
}
.calendar--day:hover {
  -webkit-transition: .25s ease;
  transition: .25s ease;
  cursor: pointer;
  background-color: #313775;
  color: #fff;
}

body {
  background-color: #1d1f20;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  top: 25vh;
}
