<div class="container">
	<div class="calendar">
		<input type="checkbox" id="month" (click)="toggleYear = false; toggleMonth = true" [checked]="toggleMonth" class="calendar--toggle calendar--toggle__month" />
		<label class="calendar--label calendar--label__month" (click)="scrollToMonth()" for="month">{{ selectedMonthText }}</label>
		<input type="checkbox" id="year" (click)="toggleMonth = false; toggleYear = true" [checked]="toggleYear" class="calendar--toggle calendar--toggle__year" />
		<label class="calendar--label calendar--label__year" (click)="scrollToYear()" for="year">{{ selectedYear }}</label>
		<span class="calendar--previous-and-next">
			<button class="btn__calendar btn__calendar__previous"
				(click)="previousMonth()">&lt;</button>
			<button class="btn__calendar btn__calendar__next"
			(click)="nextMonth()"
			>&gt;</button>
		</span>
		<div class="calendar--months-select" #monthSelect >
			<span class="calendar--month"
				[class.calendar--month__current]="i+ 1 == selectedMonth"
				(click)="selectedMonth = i+ 1; toggleMonth = false;"
			*ngFor="let month of months; let i = index ;">{{ month }}</span>

		</div>
		<div class="calendar--years-select" #yearSelect>
			<span class="calendar--year"
				[class.calendar--year__current]="selectedYear == year"
				(click)="selectedYear = year; toggleMonth = true; toggleYear = false;"
				*ngFor="let year of years">
				{{ year }}
			</span>
		</div>
		<div class="calendar--days-and-weeks">
				<div class="calendar--days-of-week">
					<span class="calendar--day-of-week">Su</span>
					<span class="calendar--day-of-week">Mo</span>
					<span class="calendar--day-of-week">Tu</span>
					<span class="calendar--day-of-week">We</span>
					<span class="calendar--day-of-week">Th</span>
					<span class="calendar--day-of-week">Fr</span>
					<span class="calendar--day-of-week">Sa</span>
				</div>
				<div class="calendar--days-select">
					<span class="calendar--day"
					[class.calendar--day__muted]="day.month != selectedMonth"
					[class.calendar--day__selected]="day.date.getDate() == highlightedDate?.getDate() && day.date.getFullYear() == highlightedDate?.getFullYear() && day.date.getMonth() == highlightedDate?.getMonth() "
					(click)="setSelectedDate(day.date)"
					*ngFor="let day of availableDays">
				{{ day.day}}
				</span>
				</div>
		</div>
		<ngx-time *ngIf="includeTime"
				[selectedHour]="selectedHour"
				[selectedMinute]="selectedMinute"
				(selectedHourChange)="setSelectedDate(highlightedDate,$event)"
				(selectedMinuteChange)="setSelectedDate(highlightedDate,null,$event)"
				></ngx-time>
		<div class="calendar--footer">
			<button class="btn__calendar btn__calendar__now" (click)="setSelectedDate(null); toggleYear =false; toggleMonth = false">Now</button>
			<button class="btn__calendar btn__calendar__done">Done</button>
		</div>
	</div>

</div>