<div class="calendar">
	<button class="ngx-picker--btn ngx-picker--btn__month" (click)="toggleMonthMenu(); showYearSelection = false">{{ selectedMonthText }}</button>
	<button class="ngx-picker--btn ngx-picker--btn__year" (click)="toggleYearMenu(); showMonthSelection = false">{{ selectedYear }}</button>
	<span class="calendar--previous-and-next">
		<button class="ngx-picker--btn ngx-picker--btn__previous"
			(click)="previousMonth()">&lt;</button>
		<button class="ngx-picker--btn ngx-picker--btn__next"
		(click)="nextMonth()"
		>&gt;</button>
	</span>
	<div class="calendar--months-select" #monthSelect [hidden]="!showMonthSelection">
		<span class="calendar--month"
			[class.calendar--month__selected]="i+ 1 == selectedMonth"
			(click)="selectedMonth = i+ 1; showMonthSelection = false;"
		*ngFor="let month of months; let i = index ;">{{ month }}</span>

	</div>
	<div class="calendar--years-select" #yearSelect [hidden]="!showYearSelection">
		<span class="calendar--year"
			[class.calendar--year__selected]="selectedYear == year"
			(click)="selectedYear = year; showMonthSelection = true; showYearSelection = false;"
			*ngFor="let year of years">
			{{ year }}
		</span>
	</div>
	<div class="calendar--days-and-weeks" *ngIf="showMonthSelection == false && showYearSelection == false">
			<div class="calendar--days-of-week">
				<span class="calendar--day-of-week">Su</span>
				<span class="calendar--day-of-week">Mo</span>
				<span class="calendar--day-of-week">Tu</span>
				<span class="calendar--day-of-week">We</span>
				<span class="calendar--day-of-week">Th</span>
				<span class="calendar--day-of-week">Fr</span>
				<span class="calendar--day-of-week">Sa</span>
			</div>
			<div class="calendar--days-select">
				<span class="calendar--day"
				[class.calendar--day__muted]="day.month != selectedMonth"
				[class.calendar--day__selected]="day.date.getDate() == highlightedDate?.getDate() && day.date.getFullYear() == highlightedDate?.getFullYear() && day.date.getMonth() == highlightedDate?.getMonth() "
				(click)="setSelectedDate(day.date)"
				*ngFor="let day of availableDays">
			{{ day.day}}
			</span>
			</div>
	</div>
	<ngx-time *ngIf="includeTime"
			[selectedHour]="selectedHour"
			[selectedMinute]="selectedMinute"
			(selectedHourChange)="setSelectedDate(highlightedDate,$event)"
			(selectedMinuteChange)="setSelectedDate(highlightedDate,null,$event)"
			></ngx-time>
	<div class="calendar--footer">
		<button class="ngx-picker--btn ngx-picker--btn__now" (click)="setSelectedDate(null); showMonthSelection = false; showYearSelection = false">Now</button>
		<button class="ngx-picker--btn ngx-picker--btn__close" (click)="closePicker()">Close</button>
	</div>
</div>