<h2>Stand-alone</h2>
<label>Date & Time Picker</label>
<ngx-datetime-picker [(selectedDateTime)]="dateTimeExample"></ngx-datetime-picker>
<ngx-datetime-picker [(selectedDateTime)]="dateTimeExample" [disableButton]="true"></ngx-datetime-picker>
<ngx-datetime-picker [(selectedDateTime)]="dateTimeExample" [disableInput]="true"></ngx-datetime-picker>
<ngx-datetime-picker [(selectedDateTime)]="dateTimeExample" [disablePicker]="true"></ngx-datetime-picker>
<hr />
<label>Date Picker</label>
<ngx-date-picker [(selectedDate)]="dateExample"></ngx-date-picker>
<ngx-date-picker [(selectedDate)]="dateExample" [inputTabIndex]="1"></ngx-date-picker>
<ngx-date-picker [(selectedDate)]="dateExample" [disableButton]="true"></ngx-date-picker>
<ngx-date-picker [(selectedDate)]="dateExample" [disableInput]="true"></ngx-date-picker>
<ngx-date-picker [(selectedDate)]="dateExample" [disablePicker]="true"></ngx-date-picker>
<hr />
<label>Time Picker</label>
<ngx-time-picker [(selectedTime)]="timeExample"></ngx-time-picker>
<ngx-time-picker [(selectedTime)]="timeExample" [disableButton]="true"></ngx-time-picker>
<ngx-time-picker [(selectedTime)]="timeExample" [disableInput]="true"></ngx-time-picker>
<ngx-time-picker [(selectedTime)]="timeExample" [disablePicker]="true"></ngx-time-picker>

<br>
<button (click)="dateExample=null;timeExample=null;dateTimeExample=null;" >Clear All</button>
<button (click)="setToNow()">Set all to now</button>

<br>

{{ dateTimeExample }}
<br>
{{ dateExample }}
<br>
{{ timeExample }}

<h2>With angular forms</h2>
<label>Date & Time Picker</label>
<ngx-datetime-picker [(ngModel)]="dateTimeExample"></ngx-datetime-picker>
<hr />
<label>Date Picker</label>
<ngx-date-picker [(ngModel)]="dateExample"></ngx-date-picker>
<hr />
<label>Time Picker</label>
<ngx-time-picker [(ngModel)]="timeExample"></ngx-time-picker>

<br>
<button type="button" (click)="dateExample=null;timeExample=null;dateTimeExample=null;" >Clear All</button>
<button type="button" (click)="setToNow()">Set all to now</button>

<br>

{{ dateTimeExample }}
<br>
{{ dateExample }}
<br>
{{ timeExample }}
