<label>Date & Time Picker</label>
<ngx-datetime-picker [(selectedDateTime)]="dateTimeExample"></ngx-datetime-picker>
<hr />
<label>Date Picker</label>
<ngx-date-picker [(selectedDate)]="dateExample"></ngx-date-picker>
<hr />
<label>Time Picker</label>
<ngx-time-picker [(selectedTime)]="timeExample"></ngx-time-picker>


<br>
<button type="button" (click)="dateExample=null;timeExample=null;dateTimeExample=null;" >Clear All</button>
<button type="button" (click)="setToNow()">Set all to now</button>

<br>

{{ dateTimeExample }}
<br>
{{ dateExample }}
<br>
{{ timeExample }}
