ngx-datetimepicker/node_modules/
ngx-datetimepicker/src/
ngx-datetimepicker/e2e/**
.vscode
.gitignore
!ngx-datetimepicker/src/app/
ngx-datetimepicker/src/app/app.component.*
ngx-datetimepicker/src/app/app.module.*
ngx-datetimepicker/src/app/**.spec.*
ngx-datetimepicker/src/**.*
ngx-datetimepicker/**.*
ngx-datetimepicker/src/typings/
ngx-datetimepicker/src/environments/
!ngx-datetimepicker/src/assets/
ngx-datetimepicker/src/**.json
ngx-datetimepicker/src/**.md
demo
sass
tsconfig.json