.ngx-picker {
  display: flex;
  position: relative;
  width: 100%; }
  .ngx-picker .calendar {
    position: absolute;
    left: 0;
    top: 2.5em;
    z-index: 3; }

.calendar {
  position: absolute;
  background-color: #222651;
  max-width: 16em;
  min-width: 16em;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  border-radius: 0.2em;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.calendar--btn {
  color: #fff;
  background-color: transparent;
  border: none;
  padding: 1em;
  font-size: 1em; }
  .calendar--btn:hover {
    transition: .25s ease;
    background-color: #f41875;
    cursor: pointer; }
  .calendar--btn:focus {
    outline-color: transparent; }

.calendar--previous-and-next {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: flex-end; }

.calendar--footer {
  display: flex;
  justify-content: space-between;
  background-color: #222651;
  padding: 0;
  border-radius: 0.2em; }

.calendar--btn__done:hover {
  border-bottom-right-radius: 0.2em; }

.calendar--btn__now:hover {
  border-bottom-left-radius: 0.2em; }

.calendar--btn__next:hover {
  border-top-right-radius: 0.2em; }

.calendar--month-and-year-toggle {
  text-align: left;
  background-color: #313775; }

.calendar--years-select,
.calendar--months-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-y: auto;
  max-height: 14.85em;
  background-color: #fff;
  width: 100%; }

.calendar--year,
.calendar--month {
  padding: .5em 1em;
  width: 100%; }
  .calendar--year__selected,
  .calendar--month__selected {
    color: #fff;
    font-weight: bold;
    background-color: #313775; }
  .calendar--year:hover,
  .calendar--month:hover {
    transition: .25s ease;
    cursor: pointer;
    background-color: #aeb2dd;
    color: #313775;
    font-weight: 400; }

.calendar--days-of-week {
  display: flex;
  justify-content: space-around;
  background-color: #313775; }

.calendar--day-of-week {
  position: relative;
  padding: .5em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: .9em; }

.calendar--days-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff; }

.calendar--day {
  text-align: center;
  width: 1.285em;
  padding: .5em;
  font-weight: 500; }
  .calendar--day__muted {
    color: #999; }
  .calendar--day__selected {
    background-color: #313775;
    color: #fff; }
  .calendar--day:hover {
    transition: .25s ease;
    cursor: pointer;
    background-color: #aeb2dd;
    color: #313775; }

.time-picker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 16em;
  min-width: 16em;
  font-family: 'Arial', sans-serif;
  background-color: #222651; }

.time--colon {
  font-weight: bold;
  color: #fff; }

.time--value:hover {
  cursor: pointer;
  transition: .25s ease;
  background-color: #f41875; }

.btn__time {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #fff;
  padding: 1em .75em;
  margin: 0; }
  .btn__time__selected {
    background-color: #f41875;
    font-weight: 600; }
  .btn__time:hover {
    transition: .25s ease;
    background-color: #f41875; }

.time--values {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 16em;
  min-width: 16em;
  background-color: #313775; }

.time--value {
  width: 2.66em;
  font-size: 1em;
  padding: .5em 0;
  text-align: center;
  color: #fff; }
  .time--value__current {
    background-color: #aeb2dd;
    color: #313775;
    font-weight: 600; }
  .time--value__selected {
    background-color: #222651; }
  .time--value:hover {
    transition: .25s ease;
    cursor: pointer;
    background-color: #222651;
    color: #fff; }

.time--label {
  display: inline-block;
  padding: 1em .85em;
  color: #fff; }
  .time--label:hover {
    transition: .25s ease;
    cursor: pointer;
    background-color: #f41875; }

.time--toggle {
  display: none; }
