<div [ngSwitch]="isMobile">
	<div *ngSwitchCase="true">
		<input type="time" [disabled]="disableInput || disablePicker" [placeholder]="placeholder" [value]="mobileFormattedTime" (change)="setMobileFormattedTime($event.target.value)"
		/>
	</div>
	<div *ngSwitchDefault>
		<div class="ngx-picker">
			<input type="text" [disabled]="disableInput || disablePicker" [placeholder]="placeholder" [value]="formattedTime" (change)="setFormattedTime($event.target.value)" (click)="pickerVisible = !pickerVisible"
			/>
			<button type="button" [disabled]="disableButton || disablePicker" (click)="pickerVisible = !pickerVisible">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  width="24" height="24" viewBox="0 0 24 24">
					<path fill="#000000" d="M12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22C6.47,22 2,17.5 2,12A10,10 0 0,1 12,2M12.5,7V12.25L17,14.92L16.25,16.15L11,13V7H12.5Z" />
				</svg>
			</button>
			<div class="calendar" [hidden]="!pickerVisible">
				<ngx-time [selectedHour]="selectedHour" [selectedMinute]="selectedMinute" (selectedHourChange)="setHourNow($event)" (selectedMinuteChange)="setMinuteNow($event)"></ngx-time>
				<div class="calendar--footer">
					<button type="button" class="ngx-picker--btn ngx-picker--btn__now" (click)="setTimeToNow()">Now</button>
					<button type="button" class="ngx-picker--btn ngx-picker--btn__close" (click)="closePicker()">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
