<div class="demo">

  <div class="demo-section">
    <label class="demo-section--label">Date & Time Picker</label>
    <ngx-datetime-picker [(selectedDateTime)]="dateTimeExample" placeholder="Date Time"></ngx-datetime-picker>

    <div [class.demo-section--string]="dateTimeExample">{{ dateTimeExample }}</div>
  </div>

  <div class="demo-section">
    <label class="demo-section--label">Date Picker</label>
    <ngx-date-picker [(selectedDate)]="dateExample" placeholder="Date"></ngx-date-picker>

    <div [class.demo-section--string]="dateExample">{{ dateExample }}</div>
  </div>

  <div class="demo-section">
    <label class="demo-section--label">Time Picker</label>
    <ngx-time-picker [(selectedTime)]="timeExample" placeholder="Time"></ngx-time-picker>

    <div [class.demo-section--string]="timeExample">{{ timeExample }}</div>
  </div>

  <div class="demo-buttons">
    <button class="btn-demo btn-demo__clear" (click)="dateExample=null;timeExample=null;dateTimeExample=null;" >Clear All</button>
    <button class="btn-demo btn-demo__set" (click)="setToNow()">Set all to now</button>
  </div>

</div>
