/* You can add global styles to this file, and also import other style files */

body {
	margin: 0;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.header {
	width: 100%;
	padding: 1em;
	margin-bottom: .5em;

	font-size: 2em;
	color: #fff;
	background-color: #222651;
}

.header--subtitle a {
	font-size: .5em;
	color: #f41875;
	text-decoration: none;
}
.header--subtitle a:hover {
	transition: .25s ease;
	color: #ff6fac;
}

.demo {
	padding: 1em 2em;
}

.demo-section {
	position: relative;
	margin-bottom: 2.5em;
}

.demo-section--label {
	display: inline-block;
	margin: 1.5em 0 .5em 0;

	font-size: 1.25em;
}

.demo-section--string {
	position: absolute;
	margin-top: .5em;
	padding: .5em;

	background-color: #f1f1f1;

	transition: .25s ease;
}

.demo-buttons {
	padding-top: 2em;
}

.btn-demo {
	padding: 1em 1.5em;
	cursor: pointer;

	background-color: #fff;

	border: .2em solid #222651;
	border-radius: .2em;

	color: #222651;
	font-weight: bold;
}

.btn-demo:hover {
	background-color: #222651;
	color: #fff;
}